@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroy';
   src: url('../fonts/Gilroy-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

* {
   box-sizing: border-box;
}

*:focus {
   outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

nav ul {
   list-style: none;
}

ol,
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

img {
   border-style: none;
   max-width: 100%;
}

form fieldset {
   margin: 0;
   padding: 0;
   border: none;
}

input,
textarea,
select {
   vertical-align: middle;
   color: #000;
   padding: 0;
}

input,
select {
   vertical-align: middle;
}

input::-webkit-input-placeholder {
   color: #000;
}

input:focus::-webkit-input-placeholder {
   color: #000;
}

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
.wrapper {
   display: block;
   position: relative;
   width: 100%;
   height: 100%;
}

.layout {
   display: block;
   position: relative;
   overflow: hidden;
   width: 1400px;
   margin: 0 auto 0 auto;
}

header,
main,
footer,
section {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
}

._content {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

/***************************************************              GENERAL RESET STYLES             ***************************************************/
._container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
   position: relative;
}

.header {
   overflow: visible;
   background: #FFFFFF;
   box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
}

body,
a {
   height: 100%;
   line-height: 16px;
   font-size: 14px;
   font-family: Gilroy;
   color: #1D1B1B;
   font-weight: 400;
   letter-spacing: 1%;
}

.body_header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 74px;
   padding-top: 5px;
   padding-bottom: 5px;
   z-index: 10;
}

.header_logo {
   min-height: 60px;
   min-width: 82px;
}

.header_nav {
   display: flex;
   max-width: 410px;
   justify-content: space-between;
   flex-grow: 1;
   align-self: stretch;
   overflow: visible;
}

.header_link {
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.header_link:hover {
   color: #01D957;
}

.header_button {
   background: #01D957;
   border-radius: 27px;
   width: fit-content;
   max-height: 43px;
   padding: 13px 30px;
   border: none;
   text-align: center;
   cursor: pointer;
}

.header_phone_button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background-color: #01D957;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header_menu_button_mobile {
   border: none;
   background: #FFFFFF;
   width: 28px;
   height: 19px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding: 0;
}

.header_menu_button_mobile_line {
   border-color: #01D957;
   height: 3px;
   background-color: #01D957;
   width: 100%;
   padding: 0;
   margin: 0;
   border-radius: 8px;
}

.mobile_menu_button {
   height: fit-content;
   width: fit-content;
}

.mobile_menu_group {
   display: none;
   gap: 34px;
   justify-content: center;
   align-items: center;
}

.white_text {
   color: #FFFFFF;
   font-weight: 700;
   font-size: 14px;
   line-height: 114%;
}

.main_banner {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: 500px;
   background: linear-gradient(88.35deg, #000000 -2.55%, rgba(0, 0, 0, 0) 79.52%), url('../images/main_banner.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #FFFFFF;
   position: relative;
   overflow: visible;
}

.au_main_banner {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: 416px;
   background: linear-gradient(88.35deg, rgba(0, 0, 0, 0.5) -2.55%, rgba(0, 0, 0, 0) 79.52%), url('../images/about_us_banner.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #FFFFFF;
   position: relative;
   overflow: visible;
}

.sm_main_banner {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: 416px;
   background: linear-gradient(88.35deg, rgba(0, 0, 0, 0.5) -2.55%, rgba(0, 0, 0, 0) 79.52%), url('../images/stock_market_banner.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #FFFFFF;
   position: relative;
   overflow: visible;
}

.crypto_main_banner {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   height: 416px;
   background: linear-gradient(88.35deg, rgba(0, 0, 0, 0.5) -2.55%, rgba(0, 0, 0, 0) 79.52%), url('../images/crypto_banner.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #FFFFFF;
   position: relative;
   overflow: visible;
}

.contact_main_banner {
   display: block;
   width: 50%;
   height: 684px;
   background: linear-gradient(88.35deg, rgba(0, 0, 0, 0.5) -2.55%, rgba(0, 0, 0, 0) 79.52%), url('../images/about_us_banner.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #FFFFFF;
   position: absolute;
   overflow: visible;
   top: 0;
   left: 0;
   z-index: -2;
}

.contact_body {
   min-height: 684px;
   position: relative;
}

.main_container {
   display: flex;
   height: 100%;
   justify-content: center;
   flex-direction: column;
}

.main_banner_content {
   max-width: 710px;
   flex-direction: column;
   width: 100%;
}

.main_banner_title {
   font-size: 50px;
   font-weight: 600;
   line-height: 114%;
   letter-spacing: 0.01em;
   padding-bottom: 20px;
   max-width: 710px;
}

.main_banner_text {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #FFFFFF;
   padding-bottom: 35px;
   max-width: 590px;
}

.main_banner_button {
   height: fit-content;
   width: 100%;
   background: #01D957;
   width: fit-content;
   max-height: 48px;
   text-align: center;
   padding: 16px 30px;
   border: none;
   border-radius: 27px;
   cursor: pointer;
}


.about_us {
   width: 100%;
   max-height: 424px;
   margin-top: 100px;
   display: flex;
   justify-content: space-between;
   position: relative;
   overflow: visible;
}

.au_about_us {
   width: 100%;
   margin-top: 184px;
   display: flex;
   justify-content: space-between;
   position: relative;
   overflow: visible;

}

.sm_about_us {
   width: 100%;
   margin-top: 184px;
   display: flex;
   justify-content: space-between;
   position: relative;
   overflow: visible;
}

.au_expirience {
   width: 100%;
   height: 756px;
   margin-top: 150px;
   display: flex;
   justify-content: space-between;
   position: relative;
   overflow: visible;
   margin-bottom: 140px;
}

.about_us_content {
   max-width: 584px;
   max-height: 424px;
}

.sm_about_us_content {
   max-width: 550px;
   height: fit-content;
}

.au_expirience_content {
   max-width: 584px;
   padding-top: 30px;
}

.gray_title {
   width: 100%;
   font-weight: 900;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.075em;
   color: #D2D2D2;
   padding-bottom: 20px;
   text-transform: uppercase;
}

.contact_gray_title {
   width: fit-content;
   font-weight: 900;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.075em;
   color: #D2D2D2;
   padding-bottom: 15px;
   text-transform: uppercase;
}

.contact_location {
   display: flex;
   justify-content: space-between;
}
.scroll_hidden h5, .scroll_hidden p{
   opacity: 0;
   filter: blur(4px);
   transition: all 1.5s ease-out;
   
}
.scroll_show h5, .scroll_show p{
   opacity: 1;
   filter: blur(0);
   transition: all 1.5s ease-in;
   
}
.scroll_show p {
   transition-delay: 0.6s ;
}
.line_title {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #000000;
   padding-bottom: 20px;
}

.contact_line_title {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #000000;
}

.green_line_group {
   display: flex;
   gap: 20px;
   padding-bottom: 30px;
}

.sm_green_line_group {
   display: flex;
   gap: 20px;
   padding-bottom: 30px;
   padding-top: 20px;
}

.au_green_line_group {
   display: flex;
   gap: 20px;
}

._propose_line {
   padding-bottom: 50px;
}

.green_line {
   background-color: #01D957;
   min-width: 52px;
   height: 4px;
   margin: 0;
   align-self: top;
   margin-top: 16px;
}

.au_green_line {
   background-color: #01D957;
   width: 52px;
   height: 4px;
   margin: 0;
   margin-top: 6px;
   align-self: top;
}

.au_green_line_links {
   display: flex;
}

.green_words {
   color: #01D957;
}

.regular_text {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   max-width: 520px;
}

.au_regular_text {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   max-width: 520px;
   padding-bottom: 20px;
}

.regular_text:not(:last-of-type) {
   padding-bottom: 25px;
}

.regular_text:last-of-type {
   padding-bottom: 30px;
}

.about_us_banner_img {
   max-height: inherit;
   width: 100%;
   border-radius: 80px 0px;
   align-self: center;
}

.au_about_us_banner_img {
   max-height: inherit;
   width: 100%;
   border-radius: 80px 0px;
   align-self: center;
}

.tablet_about_us_banner_img {
   position: absolute;
   height: 45%;
   width: 45%;
   bottom: 0;
   right: 0;
   border-radius: 30px;
}

.au_expirience_banner {
   display: flex;
   padding-left: 42px;
   align-self: center;
   width: 100%;
   position: relative;
   max-width: 468px;
}

.au_expirience_banner_img {
   max-height: inherit;
   width: 100%;
   border-radius: 200px 0px 300px 300px;
   align-self: center;
   height: 756px;
   background: url('../images/about_us_experience.png'), no-repeat;
   background-position: center;
   background-size: cover;
}

.au_expirience_tablet_img {
   background: url('../images/about_us_banner.png'), no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 350px 0px 300px 300px;
   align-self: center;
   width: 100%;
   height: 542px;
}

.au_expirience_tablet {
   padding: 40px 0;
   display: flex;
   justify-content: center;
   display: none;
}

.sm_top_banner_img {
   max-height: inherit;
   width: 100%;
   background: #C4C4C4;
   border-radius: 80px 0px 0px 0px;
   align-self: center;
}

.sm_middle_banner_img {
   max-height: inherit;
   width: 100%;
   background: #C4C4C4;
   align-self: center;

}

.sm_bottom_banner_img {
   max-height: inherit;
   width: 100%;
   background: #C4C4C4;
   border-radius: 0px 0px 80px 0px;
   align-self: center;
}

.crypto_top_banner_img {
   max-height: inherit;
   width: 100%;
   background: #C4C4C4;
   border-radius: 80px 0px 80px 0px;
   display: flex;
   align-items: center;
   height: 100%;
}

.white_line_crypto {
   position: absolute;
   background-color: #FFFFFF;
   width: 100%;
   height: 4.9%;
   left: 0;
}

.white_line_crypto_top {
   top: 30%;
}

.white_line_crypto_bottom {
   top: 65%;
}

.about_us_banner {
   display: flex;
   padding-left: 15px;
   align-self: center;
   max-width: 608px;
   max-height: 372px;
}

._tablet_invise {
   display: none;
}

.sm_stock_market_top {
   display: flex;
   align-self: center;
   max-width: 590px;
   max-height: 609px;
   position: relative;
   flex-direction: column;
   gap: 30px;
}

.crypto_stock_market_top {
   display: flex;
   align-self: center;
   max-width: 590px;
   max-height: 609px;
   position: relative;
}


.about_us_text {
   padding-left: 70px;
}

.footer_copyright:hover {
   color: #01D957;
}

.popup {
   position: fixed;
   height: 100%;
   width: 100%;
   background-color: rgba(19, 19, 19, 0.9);
   top: 0;
   left: 0;
   visibility: hidden;
   opacity: 0;
   z-index: 20;
}

.popup_success {
   position: fixed;
   height: 100%;
   width: 100%;
   background-color: rgba(19, 19, 19, 0.9);
   top: 0;
   left: 0;
   visibility: hidden;
   opacity: 0;
   z-index: 20;
}

.popup:target {
   opacity: 1;
   visibility: visible;
}

.popup_success:target {
   opacity: 1;
   visibility: visible;
}

.popup_area {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.popup_body {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 0;
   padding-left: 15px;
   justify-items: center;
}

.popup_content {
   background-color: #FFFFFF;
   border-radius: 12px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   z-index: 10;
}

.au_popup_content {
   border-radius: 12px;
   width: 387px;
   height: 222px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 30px;
}

.popup_content_success {
   background-color: #FFFFFF;
   border-radius: 12px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 10;
}

.card_popup_content {
   border-radius: 12px;
   width: 387px;
   height: 222px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

}

.contact_wrapper {
   align-self: center;
   max-width: 386px;
}

.popup_input {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   height: 100%;
   max-width: 387px;
   max-height: 222px;
   padding-bottom: 10px;
   padding-left: 25px;
   padding-right: 25px;

}

.au_popup_input {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   height: 100%;
   max-width: 387px;
   max-height: 222px;
   padding-bottom: 10px;
   padding-right: 25px;
}

.card_popup_input {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   height: 100%;
   max-width: 387px;
   max-height: 222px;
   align-self: center;
}

.popup_title {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #000000;
   text-align: center;
}

.popup_input_field {
   max-height: 48px;
   width: 386px;
   background-color: #FBFBFB;
   border: 1px solid #EEEDED;
   border-radius: 4px;
   padding-left: 15px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #1D1B1B;
   height: 100%;
   width: 100%;
}

.popup_input_button {
   max-width: 387px;
   max-height: 43px;
   height: 100%;
   margin-top: 5px;
   background-color: #01D957;
   border-radius: 27px;
   border: none;
   font-weight: 700;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #FFFFFF;
   width: 100%;
   cursor: pointer;
}

.popup_input_button_link {
   max-width: 387px;
   max-height: 43px;
   height: 100%;
}

.popup_group {
   overflow: hidden;
   display: flex;
   width: 480px;
   height: 354px;
   gap: 10px;
   margin: 0 10px;
   position: relative;
   padding-right: 28px;
   padding-left: 15px;
}

.popup_body_success {
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.popup_group_success {
   display: flex;
   max-width: 436px;
   max-height: 225px;
   height: 100%;
   width: 100%;
   gap: 10px;
   padding-left: 26px;
}

.popup_close {
   width: 16px;
   height: 16px;
   position: absolute;
   top: 0;
   right: 0px;
}

.popup_close_img {
   max-width: 16px;
   height: 100%;
}

.popup_close_scroll {
   display: absolute;
   position: fixed;

}

.mobile_menu_popup {
   position: absolute;
   top: 0;
   left: 0;
   height: 90vh;
   width: 100%;
   display: flex;
   background-color: #FFFFFF;
   z-index: 18;
   align-items: center;
   flex-direction: column;
   display: none;
}

.show_menu_popup {
   display: flex;
}

.hide_three_hr {
   display: none;
}

.mobile_menu_button_x {
   background-image: url('../images/close_btn.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border: none;
   background-color: #FFFFFF;
   width: 28px;
   height: 19px;
   padding: 0;
   margin: 0;
   display: none;
}

.show_x {
   display: block;
}

.mobile_menu_popup_nav .header_link {
   padding: 20px 0;
   height: auto;
}

.mobile_menu_popup_nav {
   display: flex;
   max-width: 734px;
   width: 100%;
   flex-direction: column;
   gap: 40px;
   flex-grow: 1;
   justify-content: center;
}

.mobile_popup_links {
   padding-bottom: 50px;
}

.title_success {
   max-width: 350px;
   max-height: 110px;
}

.polka_dotted {
   position: absolute;
   top: 340px;
   left: -88%;
   width: 100%;
   height: 425px;
   background-color: transparent;
   background-image: radial-gradient(#000 3%, transparent 15%),
      radial-gradient(#000 3%, transparent 15%);
   background-size: 20px 20px;
   background-repeat: repeat;
   opacity: 0.2;
   z-index: -1;
}

.au_polka_dotted {
   position: absolute;
   top: 24px;
   right: 1px;
   width: 156px;
   height: 156px;
   background-color: transparent;
   background-image: radial-gradient(#fff 8%, transparent 10%), radial-gradient(#fff 8%, transparent 10%);
   background-size: 14.5px 14.5px;
   background-repeat: repeat;
   opacity: 1;
}

.we_propose {
   display: flex;
   width: 100%;
   max-height: 535px;
   margin-top: 190px;
   flex-direction: column;
   overflow: visible;
   margin-bottom: 150px;

}

.we_propose_content_group {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   overflow: visible;

}

.we_propose_card {
   max-width: 590px;
   min-height: 312px;
   background: #FFFFFF;
   box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
   border-radius: 14px;
   width: 100%;
   position: relative;
}

.propose_card_logo {
   max-width: 98px;
   height: auto;
   width: 100%;
}

.propose_card_group {
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.propose_card_text_group {
   max-width: 400px;
   max-height: 100px;
   display: flex;
   gap: 15px;
   flex-direction: column;
}

.propose_card_title {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #01D957;
}

.propose_card_aside_coins {
   position: absolute;
   top: 13px;
   right: 24px;
   width: fit-content;
}

.propose_card_aside_guy {
   position: absolute;
   top: 16px;
   right: 72px;
   width: fit-content;
}

.footer_body {
   background-color: #F8F8F8;
   height: fit-content;
   overflow: visible;
}

.au_footer_wrapper {
   height: 844px;
}

.foot_container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 100%;
   height: 228px;
}

.footer_line {
   width: 100%;
   color: #CFCFCF;
   height: 1px;
}

.copyright_footer {
   align-self: center;
}

.footer_copyright {
   width: fit-content;
}

.footer_content {
   display: flex;
   justify-content: space-between;

}

.footer_links {
   display: flex;
   align-items: center;
   min-width: 74px;
   min-height: 32px;
}

.footer_nav {
   display: flex;
   max-width: 734px;
   width: 100%;
   justify-content: space-between;
}

.footer_link {
   height: fit-content;
}

.footer_link:not(:last-child) {
   padding-right: 10px;
}

.page_location {
   position: absolute;
   top: 20px;
   left: 15px;
}

.contact_page_location {
   left: 15px;
}

.page_location_link {
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #FFFFFF;
}

.page_location_link:hover {
   color: #01D957;
}

.page_location_arrow {
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #FFFFFF;
}

.au_expirience_content_text {
   padding-bottom: 20px;
}

.au_green_drops {
   max-width: 584px;
   height: 420px;
   display: flex;
   justify-content: space-between;
}

.au_green_drops_vertical {
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 278px;
   padding-top: 55px;
}

._mirror {
   padding-top: 0px;
   margin-bottom: 55px;
}

.au_green_drop {
   background: #01D957;
   opacity: 0.8;
   width: 100%;
   height: 100%;
   border-radius: 80px 0px 80px 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 50px;
}


.au_green_drop_mirror {
   background: #01D957;
   opacity: 0.8;
   width: 100%;
   height: 100%;
   border-radius: 80px 80px 80px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 50px;
}

.mobile_show_drop {
   display: none;
}

.au_green_drop_title {
   font-weight: 700;
   font-size: 44px;
   line-height: 53px;
   color: #FFFFFF;
}

.au_green_drop_text {
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   max-width: 170px;
}

.start_make_money {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 74px 0;
}

.start_make_money_form {
   height: 465px;
   width: 600px;
}

.start_make_money_img {
   width: 100%;
   height: auto;
   max-width: 600px;
}

.white_line_img {
   position: absolute;
   height: 4.9%;
   background: #FFFFFF;
   width: 100%;
   top: 30.1%;
   left: 0;
}

.second_white_line_img {
   position: absolute;
   height: 4.9%;
   background: #FFFFFF;
   width: 100%;
   top: 65%;
   left: 0;
}

.dropdown {
   position: relative;
   cursor: pointer;
}

.dropdown_footer {
   position: relative;
   cursor: pointer;
}

.mobile_dropdown_footer {
   position: relative;
   cursor: pointer;
}

.dropdown_content {
   display: none;
   left: -75%;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   z-index: 10;
   width: 250%;
   height: 150%;
   background-color: rgba(255, 255, 255, 0.7);
}

.dropdown_content_footer {
   display: none;
   left: -75%;
   transform: translate(0, -116%);
   position: absolute;
   border-radius: 8px 8px 0px 0px;
   z-index: 10;
   width: 250%;
   height: 150%;
   background-color: rgba(138, 143, 139, 0.2);
}
.dropdown_content_footer_contact {
   display: none;
   left: -95%;
   transform: translate(0, -116%);
   position: absolute;
   border-radius: 8px 8px 0px 0px;
   z-index: 10;
   width: 250%;
   height: 150%;
   background-color: rgba(255, 255, 255, 0.6);
}

.mobile_dropdown_content_footer {
   display: none;
   left: -75%;
   top: 20vh;
   transform: translate(0, -200%);
   position: absolute;
   border-radius: 8px 8px 0px 0px;
   z-index: 10;
   width: 250%;
   height: 20vh;
   background-color: rgba(235, 235, 235, 1);
}

.show_dropdown {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
}

.dropdown_content_link {
   color: #000;
   font-weight: 500;
   display: flex;
   align-items: center;
}

.dropdown_content_link:hover {
   color: #01D957;
}

.crypto_bitcoin_img {
   border-radius: 120px 0px;
   max-width: 386px;
   height: 100%;
   margin-left: 55px;
   margin-right: 100px;
}

.crypto_about_us {
   max-width: 1052px;
   margin: 0 auto;
   margin-top: 125px;
   display: flex;
   justify-content: space-between;
   position: relative;
   overflow: visible;
   align-items: center;
}

.crypto_container {
   display: flex;
   justify-content: center;
}

.FAQ_dropdown_body {
   min-height: 800px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.FAQ_dropdown_content {
   height: fit-content;
   max-width: 800px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 80px;
}

.FAQ_text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.FAQ_gray_title {
   width: fit-content;
   font-weight: 900;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.075em;
   color: #D2D2D2;
   padding-bottom: 20px;
   text-transform: uppercase;
}


.FAQ_list_item {
   display: flex;
   flex-direction: column;
}

.FAQ_list_item_group_title {
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   align-items: center;
   min-height: 32px;
}

.FAQ_list_item_title {
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #1D1B1B;
   align-self: center;
}

.FAQ_show {
   display: block;
}

.FAQ_dropdowm_text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   letter-spacing: 0.01em;
   color: #1D1B1B;
   max-height: fit-content;
   opacity: 0;
   max-height: 0;
   transition: all 1s ;
   overflow: hidden;
}

.FAQ_list_item_close {
   height: 1.5em;
   width: 1.5em;
}

.FAQ_list_line {
   height: 1px;
   color: #DFDFDF;
   width: 100%;
   opacity: 0.6;
}

.FAQ_show .FAQ_list_item_group_title .FAQ_list_item_close {
   transform: rotate(45deg);
   transition: 0.5s ease-in-out;
}
.FAQ_list_item_group_title .FAQ_list_item_close {
   transition: 0.5s ease-in-out;
}
.FAQ_show .FAQ_dropdowm_text {
   opacity: 1;
   height: fit-content;
   padding: 1em 0;
   max-height: 500px;
   transition: all 1s ease-in;
}

.contact_container {
   position: relative;
}

.contact_card_content {
   width: 50%;
   padding-left: 55px;
   padding-top: 55px;
   height: 684px;

}

.flex_container_contact {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.contact_form {
   max-width: 590px;
   max-height: 536px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (min-width:2560px) {
   ._container {
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 15px;
      box-sizing: content-box;
   }

   .start_make_money {
      justify-content: space-between;
   }

   .crypto_about_us {
      margin-left: 0;
      margin-right: 0;
   }

   .crypto_about_us {
      max-width: none;
   }
}

@media (min-width: 1920px) and (max-width: 2559px) {}

@media (min-width: 1440px) and (max-width: 1919px) {}

@media (min-width: 1360px) and (max-width: 1439px) {}

@media (min-width: 1280px) and (max-width: 1359px) {}

@media (min-width: 1024px) and (max-width: 1279px) {
   .we_propose_content_group {
      gap: 15px
   }

   .au_green_drops {
      gap: 15px;
   }

   .au_expirience_content {
      padding-left: 15px;
   }

   .sm_about_us_content {
      min-width: 50%;
   }

   .sm_about_us {
      gap: 15px;
   }

   .crypto_bitcoin_img {
      margin: 0;
      align-self: center;
   }

   .crypto_top_banner_img {
      width: inherit;
      height: inherit;
   }

   .contact_location {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 15px;
   }

   .contact_location_item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 1023px) {
   .au_expirience_banner {
      display: none;
   }

   .au_expirience_tablet {
      display: flex;
   }

   .contact_location {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 15px;
   }

   .contact_location_item {
      display: flex;
      justify-content: top;
      flex-direction: column;
      align-items: center;
   }

   .contact_form {
      max-height: 560px;
   }

   .green_line_group {
      padding-bottom: 10px;
   }

   .card_popup_content {
      max-width: 387px;
      width: inherit;
   }

   .contact_card_content {
      width: 50%;
      padding-left: 15px;
   }

   .footer_content {
      gap: 25px;
   }

   .main_banner_title {
      font-size: 40px;
   }

   .main_banner_content {
      max-width: 460px;
      padding-left: 40px;
   }

   .about_us {
      max-height: inherit;
      flex-wrap: wrap;
      gap: 60px;
      justify-content: center;
   }

   .au_about_us {
      max-height: inherit;
      flex-wrap: wrap;
      gap: 60px;
      justify-content: center;
      margin-top: 100px;
   }

   .about_us_content {
      max-height: inherit;
   }

   .about_us_banner {
      display: none;
   }

   .we_propose {
      margin-top: 100px;
      max-height: inherit;
      align-items: center;
      margin-bottom: 80px;
   }

   .we_propose_content_group {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
   }

   .we_propose_content {
      max-width: 584px;
      gap: 15px;
   }

   ._tablet_invise {
      display: flex;
      position: relative;
      max-height: inherit;
      padding-left: 0;
      margin: 40px 0;
   }

   .about_us_banner_img {
      margin-bottom: 20%;
   }

   .about_us_text {
      padding-left: 0;
   }

   .regular_text {
      max-width: inherit;
   }

   .au_expirience {
      margin-top: 80px;
      flex-wrap: wrap;
      justify-content: center;
      height: inherit;
   }

   .au_expirience_content {
      padding-top: 0;
   }

   .start_make_money_form {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
   }

   .au_footer_wrapper {
      height: fit-content;
   }

   .start_make_money {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 60px;
   }

   .about_us_text {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .main_banner {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/main_banner.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
   }

   .au_main_banner {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/about_us_banner.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .sm_main_banner {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/stock_market_banner.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .crypto_main_banner {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/crypto_banner.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .contact_main_banner {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/about_us_banner.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   .sm_about_us {
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px;
      margin-top: 100px;
   }

   .start_make_money {
      width: inherit;
   }

   .crypto_bitcoin_img {
      margin: 0;
   }

   .crypto_about_us {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
   }

   .sm_about_us_content {
      display: flex;
      flex-direction: column;
      max-width: 590px;
   }

   .crypto_stock_market_top {
      max-width: 590px;
      max-height: inherit;
   }

   .crypto_bitcoin_img {
      max-width: 100%;
   }

   .main_banner_text {
      line-height: 18px;
   }

   .FAQ_dropdown_body {
      min-height: 600px;
      padding-top: 40px;
      padding-bottom: 60px;
   }

   .main_banner_button_link {
      width: 100%;
   }

   .main_banner_button {
      width: 100%;
   }
}

@media (max-width: 767px) {

   .header {
      z-index: 20;
   }

   .dropdown_content_footer {
      top: 200%;
      left: -100%;
      position: absolute;
      border-radius: 8px 8px 8px 8px;
      z-index: 10;
      width: 300%;
      height: 200%;
      background-color: rgba(211, 211, 211, 1);
   }
   .dropdown_content_footer .dropdown_content_link{
      width: 100%;
      align-items: center;
      justify-content: center;

   }
   .dropdown_content_footer_contact {
      top: 200%;
      left: -100%;
      position: absolute;
      border-radius: 8px 8px 8px 8px;
      z-index: 10;
      width: 300%;
      height: 200%;
      background-color: rgba(211, 211, 211, 1);
   }
   .dropdown_content_footer_contact .dropdown_content_link{
      width: 100%;
      align-items: center;
      justify-content: center;
   }
   .contact_main_banner {
      width: 40%;
   }

   .contact_card_content {
      padding-top: 20px;
      width: 60%;
   }

   .contact_form .green_line_group .green_line {
      min-width: 0;
      max-width: 52px;
      width: 100%;
   }

   .contact_location_item .header_link {
      text-align: center;
   }
   .footer_nav .header_link{
      height: 80px;
      width: 100%;
   }
   .contact_location {
      padding: 20px 0;
   }

   .header_nav {
      display: none;
   }

   .footer_content,
   .footer_nav {
      flex-direction: column;
      align-items: center;
   }
   .footer_content{
      gap: 50px;
   }
   .footer_content .footer_links{
      padding-bottom: 0;
   }

   .foot_container {
      height: fit-content;
      gap: 50px;
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .footer_nav {
      order: 3;
   }

   .footer_links {
      padding-bottom: 20px;
   }

   .propose_card_aside_coins {
      position: static;
      margin: 37px 0;
   }

   .propose_card_aside_guy {
      position: static;
      margin-bottom: 37px;
      align-self: center;
   }

   .propose_card_group {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
   }

   .propose_card_text_group {
      margin-bottom: 30px;
      max-height: fit-content;
   }

   .main_banner_title {
      text-align: center;
   }

   .main_banner_text {
      text-align: center;
      line-height: 18px;
   }

   .main_banner_content {
      display: flex;
      align-items: center;
      padding: 0;
   }

   .main_banner_button {
      width: 100%;
   }

   .main_container {
      align-items: center;
   }

   .we_propose_content {
      display: flex;
      gap: 20px;
      flex-direction: column;
   }

   .we_propose_content_group {
      gap: 30px;
   }

   .popup_button_link {
      display: none;
   }

   .mobile_menu_group {
      display: flex;
   }

   .au_green_drops {
      flex-wrap: wrap;
      height: fit-content;
      gap: 20px;
      justify-content: center;
      padding-top: 20px;
   }

   .au_green_drop,
   .au_green_drop_mirror {
      min-height: 170px;
   }

   .au_expirience {
      margin-bottom: 120px;
   }

   .au_green_drops_vertical {
      padding-top: 0;
      margin-bottom: 0;
      gap: 20px;
   }

   .start_make_money {
      padding: 60px 0;
   }

   .au_popup_input {
      padding-right: 0;
   }

   .sm_about_us_content {
      gap: 0;
   }

   .sm_about_us_content .green_line_group {
      padding-bottom: 30px;
   }

   .crypto_about_us {
      margin-top: 100px;
   }

}

@media (max-width: 500px) {
   .contact_main_banner {
      display: none;
   }

   .contact_page_location .page_location_link {
      color: #000;
   }

   .contact_page_location .page_location_arrow {
      color: #000;
   }

   .contact_card_content {
      padding-left: 0;
      padding-top: 86px;
      width: 100%;
   }
}

@media (max-width: 425px) {
   .contact_location {
      align-items: flex-start;
      flex-direction: column;
   }

   .contact_social_group {
      align-self: flex-start;
   }

   .contact_gray_title {
      align-self: flex-start;
   }

   .sm_about_us {
      gap: 40px;
   }

   .gray_title {
      font-size: 12px;
   }

   .regular_text {
      font-size: 12px;
   }

   .au_regular_text {
      font-size: 12px;
   }

   .contact_line_title {
      font-size: 24px;
   }

   .line_title {
      font-size: 24px;
      padding: 0;
   }

   .green_line_group {
      padding: 0;
   }

   .mobile_form_padding {
      padding-top: 20px;
      align-self: center;
      padding-left: 15px;
   }

   ._propose_line {
      padding-bottom: 30px;
   }

   .main_banner_title {
      text-align: center;
      font-size: 24px;
   }

   .main_banner_text {
      font-size: 12px;
   }

   .about_us {
      margin-top: 70px;
   }

   .polka_dotted {
      display: none;
   }

   .mobile_hide_drop {
      display: none;
   }

   .mobile_show_drop {
      display: flex;
   }

   .au_popup_content {
      width: 100%;
   }

   .FAQ_dropdown_content {
      gap: 50px;
   }
}

@media (min-width: 320px) and (max-width: 374px) {
   .mobile_form_padding {
      align-self: flex-end;
   }

   .copyright_footer {
      text-align: center;
      word-wrap: wrap;
   }
}
